SCADA/RTU/Connected Services/ServiceReference1/RTUService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RTUService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49402/RTUService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49402/RTUService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRTUService_Init_InputMessage">
    <wsdl:part name="parameters" element="tns:Init" />
  </wsdl:message>
  <wsdl:message name="IRTUService_Init_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitResponse" />
  </wsdl:message>
  <wsdl:message name="IRTUService_SendValue_InputMessage">
    <wsdl:part name="parameters" element="tns:SendValue" />
  </wsdl:message>
  <wsdl:message name="IRTUService_SendValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendValueResponse" />
  </wsdl:message>
  <wsdl:message name="IRTUService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IRTUService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:portType name="IRTUService">
    <wsdl:operation name="Init">
      <wsdl:input wsaw:Action="http://tempuri.org/IRTUService/Init" message="tns:IRTUService_Init_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRTUService/InitResponse" message="tns:IRTUService_Init_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IRTUService/SendValue" message="tns:IRTUService_SendValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRTUService/SendValueResponse" message="tns:IRTUService_SendValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IRTUService/Get" message="tns:IRTUService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRTUService/GetResponse" message="tns:IRTUService_Get_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRTUService" type="tns:IRTUService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Init">
      <soap:operation soapAction="http://tempuri.org/IRTUService/Init" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendValue">
      <soap:operation soapAction="http://tempuri.org/IRTUService/SendValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IRTUService/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RTUService">
    <wsdl:port name="BasicHttpBinding_IRTUService" binding="tns:BasicHttpBinding_IRTUService">
      <soap:address location="http://localhost:49402/RTUService.svc/RTU" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>