SCADA/TrendingApp/Connected Services/ServiceReference1/TrendingAppService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49402/TrendingAppService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SCADA.Model" />
  <xs:element name="Init">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValueChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SCADA.Model" minOccurs="0" name="inputTags" nillable="true" type="q1:ArrayOfTagInvoked" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValueChangedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>