SCADA/ReportManager/Connected Services/ServiceReference1/ReportManagerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49402/ReportManagerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SCADA.Model" />
  <xs:element name="AlarmsInSameTimePeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlarmsInSameTimePeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SCADA.Model" minOccurs="0" name="AlarmsInSameTimePeriodResult" nillable="true" type="q1:ArrayOfAlarmInvoked" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlarmsByPriority">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="priority" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlarmsByPriorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SCADA.Model" minOccurs="0" name="AlarmsByPriorityResult" nillable="true" type="q2:ArrayOfAlarmInvoked" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TagInvokecInSameTimePeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TagInvokecInSameTimePeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SCADA.Model" minOccurs="0" name="TagInvokecInSameTimePeriodResult" nillable="true" type="q3:ArrayOfTagInvoked" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LastValueOfAITags">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LastValueOfAITagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SCADA.Model" minOccurs="0" name="LastValueOfAITagsResult" nillable="true" type="q4:ArrayOfTagInvoked" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LastValueOfDITags">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LastValueOfDITagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SCADA.Model" minOccurs="0" name="LastValueOfDITagsResult" nillable="true" type="q5:ArrayOfTagInvoked" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllValuesOfTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllValuesOfTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SCADA.Model" minOccurs="0" name="AllValuesOfTagResult" nillable="true" type="q6:ArrayOfTagInvoked" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>