SCADA/ReportManager/Connected Services/ServiceReference1/ReportManagerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReportManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49402/ReportManagerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49402/ReportManagerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49402/ReportManagerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SCADA.Model" />
      <xsd:import schemaLocation="http://localhost:49402/ReportManagerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SCADA.Model.Alarms" />
      <xsd:import schemaLocation="http://localhost:49402/ReportManagerService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SCADA.Model.Tags" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReportManagerService_AlarmsInSameTimePeriod_InputMessage">
    <wsdl:part name="parameters" element="tns:AlarmsInSameTimePeriod" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_AlarmsInSameTimePeriod_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlarmsInSameTimePeriodResponse" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_AlarmsByPriority_InputMessage">
    <wsdl:part name="parameters" element="tns:AlarmsByPriority" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_AlarmsByPriority_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlarmsByPriorityResponse" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_TagInvokecInSameTimePeriod_InputMessage">
    <wsdl:part name="parameters" element="tns:TagInvokecInSameTimePeriod" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_TagInvokecInSameTimePeriod_OutputMessage">
    <wsdl:part name="parameters" element="tns:TagInvokecInSameTimePeriodResponse" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_LastValueOfAITags_InputMessage">
    <wsdl:part name="parameters" element="tns:LastValueOfAITags" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_LastValueOfAITags_OutputMessage">
    <wsdl:part name="parameters" element="tns:LastValueOfAITagsResponse" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_LastValueOfDITags_InputMessage">
    <wsdl:part name="parameters" element="tns:LastValueOfDITags" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_LastValueOfDITags_OutputMessage">
    <wsdl:part name="parameters" element="tns:LastValueOfDITagsResponse" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_AllValuesOfTag_InputMessage">
    <wsdl:part name="parameters" element="tns:AllValuesOfTag" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_AllValuesOfTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllValuesOfTagResponse" />
  </wsdl:message>
  <wsdl:portType name="IReportManagerService">
    <wsdl:operation name="AlarmsInSameTimePeriod">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportManagerService/AlarmsInSameTimePeriod" message="tns:IReportManagerService_AlarmsInSameTimePeriod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManagerService/AlarmsInSameTimePeriodResponse" message="tns:IReportManagerService_AlarmsInSameTimePeriod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlarmsByPriority">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportManagerService/AlarmsByPriority" message="tns:IReportManagerService_AlarmsByPriority_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManagerService/AlarmsByPriorityResponse" message="tns:IReportManagerService_AlarmsByPriority_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TagInvokecInSameTimePeriod">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportManagerService/TagInvokecInSameTimePeriod" message="tns:IReportManagerService_TagInvokecInSameTimePeriod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManagerService/TagInvokecInSameTimePeriodResponse" message="tns:IReportManagerService_TagInvokecInSameTimePeriod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LastValueOfAITags">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportManagerService/LastValueOfAITags" message="tns:IReportManagerService_LastValueOfAITags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManagerService/LastValueOfAITagsResponse" message="tns:IReportManagerService_LastValueOfAITags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LastValueOfDITags">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportManagerService/LastValueOfDITags" message="tns:IReportManagerService_LastValueOfDITags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManagerService/LastValueOfDITagsResponse" message="tns:IReportManagerService_LastValueOfDITags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllValuesOfTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportManagerService/AllValuesOfTag" message="tns:IReportManagerService_AllValuesOfTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManagerService/AllValuesOfTagResponse" message="tns:IReportManagerService_AllValuesOfTag_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReportManagerService" type="tns:IReportManagerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AlarmsInSameTimePeriod">
      <soap:operation soapAction="http://tempuri.org/IReportManagerService/AlarmsInSameTimePeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlarmsByPriority">
      <soap:operation soapAction="http://tempuri.org/IReportManagerService/AlarmsByPriority" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TagInvokecInSameTimePeriod">
      <soap:operation soapAction="http://tempuri.org/IReportManagerService/TagInvokecInSameTimePeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LastValueOfAITags">
      <soap:operation soapAction="http://tempuri.org/IReportManagerService/LastValueOfAITags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LastValueOfDITags">
      <soap:operation soapAction="http://tempuri.org/IReportManagerService/LastValueOfDITags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllValuesOfTag">
      <soap:operation soapAction="http://tempuri.org/IReportManagerService/AllValuesOfTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportManagerService">
    <wsdl:port name="BasicHttpBinding_IReportManagerService" binding="tns:BasicHttpBinding_IReportManagerService">
      <soap:address location="http://localhost:49402/ReportManagerService.svc/Report" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>