SCADA/DatabaseManager/Connected Services/ServiceReference1/DBManagerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SCADA.Model.Tags" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SCADA.Model.Tags" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AI">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InputTag">
        <xs:sequence>
          <xs:element minOccurs="0" name="HighLimit" type="xs:double" />
          <xs:element minOccurs="0" name="LowLimit" type="xs:double" />
          <xs:element minOccurs="0" name="Units" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AI" nillable="true" type="tns:AI" />
  <xs:complexType name="InputTag">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Tag">
        <xs:sequence>
          <xs:element minOccurs="0" name="Driver" type="tns:DriverType" />
          <xs:element minOccurs="0" name="IsActiveScan" type="xs:boolean" />
          <xs:element minOccurs="0" name="ScanTime" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InputTag" nillable="true" type="tns:InputTag" />
  <xs:complexType name="Tag">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IOaddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TagType" type="tns:TagType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tag" nillable="true" type="tns:Tag" />
  <xs:simpleType name="TagType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AI" />
      <xs:enumeration value="AO" />
      <xs:enumeration value="DI" />
      <xs:enumeration value="DO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TagType" nillable="true" type="tns:TagType" />
  <xs:simpleType name="DriverType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Simulation" />
      <xs:enumeration value="RealTime" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DriverType" nillable="true" type="tns:DriverType" />
  <xs:complexType name="AO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OutputTag">
        <xs:sequence>
          <xs:element minOccurs="0" name="HighLimit" type="xs:double" />
          <xs:element minOccurs="0" name="LowLimit" type="xs:double" />
          <xs:element minOccurs="0" name="Units" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AO" nillable="true" type="tns:AO" />
  <xs:complexType name="OutputTag">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Tag">
        <xs:sequence>
          <xs:element minOccurs="0" name="InitialValue" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OutputTag" nillable="true" type="tns:OutputTag" />
  <xs:complexType name="DI">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InputTag">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DI" nillable="true" type="tns:DI" />
  <xs:complexType name="DO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OutputTag">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DO" nillable="true" type="tns:DO" />
</xs:schema>